
{% load static %}
<!doctype html>
<html>
  <head>
    <title>make it stick - Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url "reviews_list" %}">Back to list</a>
        <a href="{% url "create_review" %}">Create a review</a>
      </nav>
    </header>
    <main>
      <div class="detail-page-book-review">
        <img class="book-cover" src="{{ review.cover_image }}">
        <h2 class="book-title">
          <!-- <a href="detail.html">{{ review.title }}</a> -->
          <a>{{ review.title }}</a>
        </h2>
        <div class="book-rating">{{ review.rating }} stars</div>
        <div class="book-authors">
          {{ review.authors }}
        </div>
        <h2>Summary</h2>
        <p>
          {{ review.summary }}
        </p>
        <h2>My review</h2>
        <p>
          {{ review.review }}
        </p>
        <p>
          Here we will share the central findings of one
          such book we have found useful, Brown, Roediger,
          and McDaniel’s, Make it Stick: The Science of
          Successful Learning (The Belknap Press of
          Harvard University Press, 2014). We will present
          these as countering certain widely accepted
          myths about learning. We hope doing so will help
          you to design pedagogical strategies that
          promote learning that “sticks.”
        </p>
      </div>
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <p>
        This is my site that contains all of my book reviews
        that you can read to see if you'd like that book.
      </p>
    </footer>
  </body>
</html>